<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="element-with-bg"></div>
    <header class="app">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/AboutMe">About</a></li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/ContactMe">Contact</a></li>
            </ul>
        </nav>
        <!--header-->
    </header>
    <div class="container">
        <div class="avatar-container">
            <img class="img" src="/static/images/avatar.png" alt="avatar">
        </div>
        <div class="text-container">
            <h1 class="name">Sneha Biju</h1>
            <p>Welcome to My Portfolio. Hello and thank you for visiting my personal portfolio website.
                 This is where I share my work and tell you a little bit about myself.
                  Please explore my projects give me feedbacks and suggestions.</p>
        </div>
    </div>
    <div class="anchor-tag">
    <!-- Let's Connect anchor tag -->
    <a href="/ContactMe">Let's Connect</a>
    </div>
    <!-- Footer -->
    <footer>
        <p>&copy; SNEHA BIJU | Email: <a href="mailto:sbiju0409@gmail.com">sbiju0409@gmail.com</a></p>
        <ul>
            <li><a href="https://github.com/Sneha200512537/COMP2068JSFrameworks.git" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/sneha-biju-b57a26239" target="_blank">LinkedIn</a></li>
        </ul>
    </footer>
</body>
</html>
