<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="app">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/AboutMe">About</a></li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/ContactMe">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>My Projects</h1>
        <p>These are some of my projects.</p>
    </div>
    <!-- Portfolio Grid -->
    <div class="portfolio-grid">
        <div class="project-image-container">
        <div class="portfolio-item">
            <div class="description">
                <h3>Project 1</h3>
                <p>Web Designing</p>
            </div>
            </div>
            <img src="/static/images/designing.jpg" alt="Project 1">
        </div>
        
        <div class="portfolio-item">
            <div class="project-image-container">
            <div class="description">
                <h3>Project 2</h3>
                <p>Website Plan</p>
            </div>
            <img src="/static/images/web.jpg" alt="Project 2">
        </div>
        </div>
        <div class="portfolio-item">
           <div class="project-image-container">
            <div class="description">
                <h3>Project 3</h3>
                <p>HTML designing</p>
            </div>
            <img src="/static/images/Website-Design-Development-1.png" alt="Project 3">
        </div>
        </div>
    </div>
   
   <!-- Footer -->
    <footer>
        <p>&copy; SNEHA BIJU | Email: <a href="mailto:sbiju0409@gmail.com">sbiju0409@gmail.com</a></p>
        <ul>
            <li><a href="https://github.com/Sneha200512537/COMP2068JSFrameworks.git" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/sneha-biju-b57a26239" target="_blank">LinkedIn</a></li>
        </ul>
    
    </footer>
</body>
</html>
